# Ignore these files and folders
data/
data_test/
figures/
cutouts/
__pycache__/
TileSlicer.code-workspace
notebooks/.ipynb_checkpoints/
.vscode/
.idea/
ruff.toml
tables/redshifts-2024-01-04.parquet
tables/UNIONS.312.249/
logs/tilecutter.log
logs/
tables/cutout_cat_master.parquet
